footer {
    padding: 10px 20px;
    color: white;
  }
  a{
    text-decoration:none;
  }
  p{
    color: black;
  }
  .nav{
    position: relative;
    bottom: 40px;
    float: right;
    color: black;
  }