footer {
  background-color: #f8f9fa; 
  padding: 20px;
  text-align: center;
}

footer p a {
  color: #17a2b8; /* Couleur du lien */
  text-decoration: none;
}

footer p a:hover {
  text-decoration: underline;
}

footer .nav {
  display: block;
  margin-top: 10px;
  font-size: 0.9rem; /* Taille de texte plus petite */
}
