
.rings{
    width:100px;
    height: 50px;
    float: right;
}
header {
    background-color: #f8f9fa; /* Couleur de fond légère */
    padding: 20px 0;
    border-bottom: 1px solid #e0e0e0; /* Légère bordure en bas */
}

.nav img.rings {
    width: 100px;
    height: auto; /* Garder les proportions */
    margin-right: 20px; /* Espacement à droite */
}

nav ul {
    display: flex;
    align-items: center; /* Aligner verticalement */
    list-style-type: none; /* Enlever les puces */
    margin: 0;
    padding: 0; /* Enlever les marges et les paddings */
}

nav ul li {
    margin-right: 20px; /* Espacement entre les éléments */
}

nav ul li a {
    color: #343a40; /* Couleur de texte */
    font-weight: bold;
    text-transform: uppercase; /* Tout en majuscules */
}

nav ul li a:hover {
    opacity: 0.8;
    color: #0056b3; /* Couleur au survol */
}


