
h2{
    font-family: "Olympic Sans", Arial, Helvetica, sans-serif;
    font-size: 2.2rem;
    line-height: 3.2rem;
    margin: 0px 0px 1.6rem;
}
.rings{
    width:100px;
    height: 50px;
    float: right;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;

}

li a {
    display: block;
    color: rgba(10, 2, 2, 0.885);
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
li a:hover {
    opacity: 50%;
    color: #4f772d;
}
