<main>
    <h2>Jeux à venir</h2>
    <section>
      <p>
        Les Jeux Olympiques sont la seule compétition véritablement mondiale et
        multisport. Avec plus de 200 pays participant à plus de 400 épreuves entre
        les Jeux d’Été et d’Hiver, les Jeux sont le seul endroit où le monde se
        retrouve pour concourir, se sentir inspiré et être ensemble.
      </p>
      <div class="img-txt">
        <a
          class="content"
          loading="lazy"
          src=""
        >
          <img
            alt="Paris"
            class="paris hide-on-small-screens"
            loading="lazy"
            src="/image/paris.jfif"
            title=""
          />
          <div class="text"> 26 juillet - 11 aout Paris 2024 </div>
        </a>
        <img class="paris2024" src="/image/paris2024.webp">
      </div>
    </section>
  </main>
